.body{
    width: 100%;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000001a;
}
header {
    background: rgb(49, 106, 212);
    color: white;
    text-align: center;
    padding: 1px;
}
nav ul.nav {
    background: rgb(2, 64, 180);
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 50px;
}
.menu {
    padding: 10px 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.menu:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
main h2{
    text-align: center;
}
.table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

footer {
    background: rgb(49, 106, 212);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
